@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #282424;
}
body {
  color: var(--font-color);
}

a,
button {
  transition: all 0.3s ease;
}

.box-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
}
