@import 'tailwindcss';

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}
