.tiptap {
  background-color: white;
  min-height: 500px;
  max-height: 500px;
  outline: none;
  padding: 0.75rem;
  overflow-y: scroll;
  border: 1px solid #e5e7eb;
  border-top: none;
  font-size: 1.25em;
}

.tiptap-viewer > p {
  min-height: 1em;
  line-height: 1.75;
  font-size: 1.25em;
}
