.editor-link {
  display: inline-block;
  position: relative;
  color: #333333;
  text-decoration: none;
  padding: 0.1em 0.05em;
  border-bottom: 2px solid #333333;
}

.editor-link:hover {
  color: #efefef;
  background-color: #333333;
}

.editor-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333333;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26);
}

.editor-link:hover::after {
  top: 0;
}
